<h1>Recent Game information:</h1>
<h2> Game 1 </h2>
<body>
      <ul>
         <li>ID of the champion used: {{champused1}}</li>      
         <li>Game Mode: {{mode1}}</li>
         <li>Game Type: {{gtype1}}</li>
      </ul>
            
</body>
<h2> Game 2 </h2>
<body>
      ID of the champion used: {{champused2}}      
      Game Mode: {{mode2}}
      Game Type: {{gtype2}}
            
</body>

<form action="http://52.25.198.76:3000/">
    <input type="submit" value="Go back">
</form>
