<h1>Recent Game information:</h1>
<h2> Game 1 </h2>
<body>
      <ul>
         <li><b>ID of the champion used:</b> {{champused1}}</li>      
         <li><b>Game Mode:</b> {{mode1}}</li>
         <li><b>Game Type:</b> {{gtype1}}</li>
         <li><b>IP Earned:</b> {{ip1}}</li>
         <li><b>Champions Killed:</b> {{kills1}}</li>
         <li><b>Number of Deaths:</b> {{deaths1}}</li>
         <li><b>Number of assists:</b> {{assists1}}</li> 
      </ul>
            
<h2> Game 2 </h2>
      <ul>
         <li><b>ID of the champion used:</b> {{champused2}}</li>      
         <li><b>Game Mode:</b> {{mode2}}</li>
         <li><b>Game Type:</b> {{gtype2}}</li>
         <li><b>IP Earned:</b> {{ip2}}</li>
         <li><b>Champions Killed:</b> {{kills2}}</li>
         <li><b>Number of Deaths:</b> {{deaths2}}</li>
         <li><b>Number of assists:</b> {{assists2}}</li> 
      </ul>
            
</body>

<form action="http://52.25.198.76:3000/">
    <input type="submit" value="Go back">
</form>
